CompileFlags:
  Compiler: /opt/homebrew/bin/g++-15
  Add:
    - -std=c++20
    - -stdlib=libstdc++
    - -I/opt/homebrew/Cellar/gcc/15.2.0_1/include/c++/15
    - -I/opt/homebrew/Cellar/gcc/15.2.0_1/include/c++/15/aarch64-apple-darwin25
